body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}


/* NAVBAR  */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}


/* Title */

#title .container-fluid {
    padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

.download-button {
    margin: 5% 3% 5% 0;
}

#iphone-mockup {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* FEATURES */

#features {
    background-color: white;
    position: relative;
}

.features-block {
    padding: 5%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-title {
    font-size: 1.5rem;
}

/* Testimonials  */

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 30px;
}


.carousel-indicators {
    margin-bottom: 3%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-imgs {
    width: 15%;
    margin: 20px 20px 50px;
}


/* PRICING SECTION  */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* Call to action */

#cta {
    background-color: #ff4c68;
    color: white;
}

.cta-btn {
    margin: 5% 2%;
}

/* Footer */

#footer {
    background-color: white;
}

.footer-icons {
    margin: 10px;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    #iphone-mockup {
        transform: rotate(0);
        position: static;
    }
}