body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}


/* NAVBAR  */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}


/* Title */

.download-button {
    margin: 5% 3% 5% 0;
}

#iphone-mockup {
    width: 60%;
    transform: rotate(25deg);
}

/* FEATURES */

#features {
    padding: 7% 15%;
}

.features-block {
    padding: 5%;
    text-align: center;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}